# =========================
# System / Utils
# =========================
runpod
pdf2image
pillow
numpy
huggingface_hub

# =========================
# Qwen3-VL - vLLM
# =========================
vllm
qwen-vl-utils
