# =========================
# System / Utils
# =========================
runpod
pdf2image
pillow
numpy
huggingface_hub

# =========================
# Gemma 4 - Transformers
# =========================
transformers==5.5.0
accelerate
